p{

    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: 900;
    
}
body{

    background-color: rgb(165, 2, 10);
    max-width: 700px;
    margin: auto;
}

h2
{
    color: rgb(32, 31, 31);
    font-size: xx-large;
  
}